<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.alfred.awgo.demo-settings</string>
	<key>connections</key>
	<dict>
		<key>0918F185-586A-4D12-A3D9-BF1B0F86A4E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CDEEFC20-8183-4AEA-B0F3-8B69B6E0D298</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>52E95872-B5D3-4FD4-8614-B44FDCC9F766</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>78585975-25B1-4405-B7BC-DF47F68C3D1E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>58522435-0951-4A4D-A1FC-49550C0AFB6C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0918F185-586A-4D12-A3D9-BF1B0F86A4E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>78585975-25B1-4405-B7BC-DF47F68C3D1E</key>
		<array/>
		<key>8FA3CFC9-B86D-4DEB-BE45-6233E94C950C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58522435-0951-4A4D-A1FC-49550C0AFB6C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C2AFA255-D8A9-4197-9240-9470086AE6F9</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>52E95872-B5D3-4FD4-8614-B44FDCC9F766</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CDEEFC20-8183-4AEA-B0F3-8B69B6E0D298</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C2AFA255-D8A9-4197-9240-9470086AE6F9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson &lt;deanishe@deanishe.net&gt;</string>
	<key>description</key>
	<string>Save settings with Alfred</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AwGo Demo: Settings</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>settings</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>8FA3CFC9-B86D-4DEB-BE45-6233E94C950C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./settings -set "$varname" "$value"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>52E95872-B5D3-4FD4-8614-B44FDCC9F766</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./settings -get "$name" "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Enter new {var:name}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CDEEFC20-8183-4AEA-B0F3-8B69B6E0D298</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>78585975-25B1-4405-B7BC-DF47F68C3D1E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>settings</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading settings…</string>
				<key>script</key>
				<string>./settings "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Save settings to Alfred</string>
				<key>title</key>
				<string>Change Workflow Settings</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>58522435-0951-4A4D-A1FC-49550C0AFB6C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------- settings -------------\
query={query}
variables={allvars}
\------------- settings -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>0918F185-586A-4D12-A3D9-BF1B0F86A4E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>.
/------------- get -------------\
query={query}
variables={allvars}
\------------- get -------------/</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>C2AFA255-D8A9-4197-9240-9470086AE6F9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>0918F185-586A-4D12-A3D9-BF1B0F86A4E7</key>
		<dict>
			<key>xpos</key>
			<integer>370</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>52E95872-B5D3-4FD4-8614-B44FDCC9F766</key>
		<dict>
			<key>note</key>
			<string>Save new value</string>
			<key>xpos</key>
			<integer>710</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>58522435-0951-4A4D-A1FC-49550C0AFB6C</key>
		<dict>
			<key>note</key>
			<string>Show current configuration</string>
			<key>xpos</key>
			<integer>200</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>78585975-25B1-4405-B7BC-DF47F68C3D1E</key>
		<dict>
			<key>xpos</key>
			<integer>880</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>8FA3CFC9-B86D-4DEB-BE45-6233E94C950C</key>
		<dict>
			<key>note</key>
			<string>Open settings</string>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>C2AFA255-D8A9-4197-9240-9470086AE6F9</key>
		<dict>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>90</integer>
		</dict>
		<key>CDEEFC20-8183-4AEA-B0F3-8B69B6E0D298</key>
		<dict>
			<key>note</key>
			<string>Enter a new value</string>
			<key>xpos</key>
			<integer>450</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>API_KEY</key>
		<string></string>
		<key>HOSTNAME</key>
		<string>localhost</string>
		<key>PORT</key>
		<string></string>
		<key>USERNAME</key>
		<string>dave</string>
	</dict>
	<key>variablesdontexport</key>
	<array>
		<string>USERNAME</string>
		<string>API_KEY</string>
		<string>PORT</string>
		<string>HOSTNAME</string>
	</array>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://godoc.org/github.com/deanishe/awgo</string>
</dict>
</plist>
