<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.awgo-example-fuzzy-big</string>
	<key>connections</key>
	<dict>
		<key>D61073F1-262D-482D-800D-A788FD7B9F69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>76AEA54C-6AD8-43B3-A8EB-7C693414C860</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Filter Gutenberg Ebooks</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Awgo Large Fuzzy Example</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>76AEA54C-6AD8-43B3-A8EB-7C693414C860</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>gutenberg</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading books…</string>
				<key>script</key>
				<string>./fuzzy-big "{query}"</string>
				<key>subtext</key>
				<string>Filter ebooks from gutenberg.org</string>
				<key>title</key>
				<string>Gutenberg Ebooks</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D61073F1-262D-482D-800D-A788FD7B9F69</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>76AEA54C-6AD8-43B3-A8EB-7C693414C860</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D61073F1-262D-482D-800D-A788FD7B9F69</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
