<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.awgo-example-update</string>
	<key>connections</key>
	<dict>
		<key>21424250-F782-463F-BF9D-97EDF02B8A5A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6D97D86C-08C1-4CBC-A509-E35DE5459BDA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6D97D86C-08C1-4CBC-A509-E35DE5459BDA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1BD1A31-7D6B-4DCC-AC9A-60A65596ED40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F3DFD0D4-B306-48DD-A915-34D3CF427B73</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>21424250-F782-463F-BF9D-97EDF02B8A5A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Informs user when an update is available</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AwGo Demo: Self-updating</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>awupdate</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>./update</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Is an update for this workflow available?</string>
				<key>title</key>
				<string>Check For Update</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F3DFD0D4-B306-48DD-A915-34D3CF427B73</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>ERROR</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>C1BD1A31-7D6B-4DCC-AC9A-60A65596ED40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>./update</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6D97D86C-08C1-4CBC-A509-E35DE5459BDA</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{var:do_update}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string>true</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>21424250-F782-463F-BF9D-97EDF02B8A5A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AwGo demo workflow</string>
	<key>uidata</key>
	<dict>
		<key>21424250-F782-463F-BF9D-97EDF02B8A5A</key>
		<dict>
			<key>note</key>
			<string>check_update == true</string>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>60</integer>
		</dict>
		<key>6D97D86C-08C1-4CBC-A509-E35DE5459BDA</key>
		<dict>
			<key>note</key>
			<string>Fetch and cache available releases</string>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>C1BD1A31-7D6B-4DCC-AC9A-60A65596ED40</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
		<key>F3DFD0D4-B306-48DD-A915-34D3CF427B73</key>
		<dict>
			<key>xpos</key>
			<integer>30</integer>
			<key>ypos</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.1</string>
	<key>webaddress</key>
	<string>https://godoc.org/gogs.deanishe.net/deanishe/awgo</string>
</dict>
</plist>
