<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.deanishe.awgo.demo-fuzzy</string>
	<key>connections</key>
	<dict>
		<key>7305214D-8C9D-496B-A72D-948F8D548827</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9C8A05BC-BB83-4B3B-B1B3-603AADF2DEA8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>941F6745-DA39-4F36-A5E2-A4545A04A509</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>921C896B-DC08-4B14-9424-B5CEF32C5C37</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>C46F2999-7FEB-4878-9C12-80E3CB630E25</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>D45EC623-6D7A-4E31-B6E3-617D13D81BBD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9C8A05BC-BB83-4B3B-B1B3-603AADF2DEA8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8326D6D3-517D-43ED-A868-5B98B621E4FC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D45EC623-6D7A-4E31-B6E3-617D13D81BBD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7C574F95-18F7-4AA2-B8EF-812745DB293D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D61073F1-262D-482D-800D-A788FD7B9F69</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>7305214D-8C9D-496B-A72D-948F8D548827</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Dean Jackson</string>
	<key>description</key>
	<string>Filter contents of ~/Downloads</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>AwGo Demo: Fuzzy Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.revealfile</string>
			<key>uid</key>
			<string>8326D6D3-517D-43ED-A868-5B98B621E4FC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>9C8A05BC-BB83-4B3B-B1B3-603AADF2DEA8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>921C896B-DC08-4B14-9424-B5CEF32C5C37</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading files…</string>
				<key>script</key>
				<string>./fuzzy "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>All files in ~/Downloads</string>
				<key>title</key>
				<string>Filter ~/Downloads</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D61073F1-262D-482D-800D-A788FD7B9F69</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>reveal</string>
						<key>outputlabel</key>
						<string>Reveal</string>
						<key>uid</key>
						<string>941F6745-DA39-4F36-A5E2-A4545A04A509</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string>{var:action}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>0</integer>
						<key>matchstring</key>
						<string>browse</string>
						<key>outputlabel</key>
						<string>Browse</string>
						<key>uid</key>
						<string>C46F2999-7FEB-4878-9C12-80E3CB630E25</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>7305214D-8C9D-496B-A72D-948F8D548827</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>openwith</key>
				<string></string>
				<key>sourcefile</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openfile</string>
			<key>uid</key>
			<string>7C574F95-18F7-4AA2-B8EF-812745DB293D</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>type</key>
			<string>alfred.workflow.utility.hidealfred</string>
			<key>uid</key>
			<string>D45EC623-6D7A-4E31-B6E3-617D13D81BBD</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>AwGo: Fuzzy Sort Demo
=====================

Fuzzy-filter contents of ~/Downloads.

Demonstrates basic usage of fuzzy filtering using the API built into AwGo.</string>
	<key>uidata</key>
	<dict>
		<key>7305214D-8C9D-496B-A72D-948F8D548827</key>
		<dict>
			<key>xpos</key>
			<integer>270</integer>
			<key>ypos</key>
			<integer>175</integer>
		</dict>
		<key>7C574F95-18F7-4AA2-B8EF-812745DB293D</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>305</integer>
		</dict>
		<key>8326D6D3-517D-43ED-A868-5B98B621E4FC</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>921C896B-DC08-4B14-9424-B5CEF32C5C37</key>
		<dict>
			<key>xpos</key>
			<integer>495</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
		<key>9C8A05BC-BB83-4B3B-B1B3-603AADF2DEA8</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>70</integer>
		</dict>
		<key>D45EC623-6D7A-4E31-B6E3-617D13D81BBD</key>
		<dict>
			<key>xpos</key>
			<integer>405</integer>
			<key>ypos</key>
			<integer>335</integer>
		</dict>
		<key>D61073F1-262D-482D-800D-A788FD7B9F69</key>
		<dict>
			<key>note</key>
			<string>Fuzzy filter contents of ~/Downloads</string>
			<key>xpos</key>
			<integer>55</integer>
			<key>ypos</key>
			<integer>170</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>https://godoc.org/github.com/deanishe/awgo</string>
</dict>
</plist>
